.content-area {
  display: flex;
  max-width: 1440px;
  margin: auto;
  padding-top: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1000px;
}

.App-header {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-top: 8px;
  margin-bottom: 24px;
}
